@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat500';
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Mulish';
    src: url(../fonts/Mulish-Regular-400.woff) format('woff');
    font-weight: 400;
    font-display: swap;
  }
  
  /* свойства для контейнера, который включает всю страницу */
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  /* свойства для контейнера форм */
.container-form {
    position: absolute;
    top: 50%;
    left: 50%;
  
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    padding: 15px;
  
    border: 1px solid #000000;
    border-radius: 10px;
  
    background-color: #ffffff;
  
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 1200px) {
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    }
  }
  
  @media (max-width: 1024px) {
.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    }
  }
  
@media (max-width: 330px) {
    .container {
      box-sizing: border-box;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }
  
.header-bg {
    background-color: #fefefbe0;
}

/* свойства для шапки страницы */
.header {
    position: fixed;
    padding-top: 40px;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .header--bg {
    background-color:#fefefb4b;
    width: 100%;
    max-height: 120px;
    height: 100%;
  }
  
  /* обёртка шапки страницы */
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .header__main {
    display: flex;
    gap: 80px;
  }
  
  /* логотип или же наша надпись Recipes */
  .header__logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FDB100;
    text-decoration: none;
  }
  
  /* Навигационная панель */
  .header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Список меню */
  .header__navigation-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  /* Компоненты списка меню */
  .header__navigation-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #9196A1;
    list-style-type: none;
    width: 100%;
  }
  
  /* Ссылки которые содержатся в компонентах */
  .header__navigation-link {
    text-decoration: none;
    color: #9196A1;
  }
  
/* Эффект при наведении на элемент списка меню */
  .header__navigation-link:hover {
    color: #3A3C41;
  }
  

  /* область авторизации */
  .header__login {
    display: flex;
    gap: 14px;
  }
  
  /* кнопка войти */
  .header__login-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FDB100;
    align-self: center;
    text-decoration: none;
  
  }
  
  @media (max-width: 1200px) { 
    .container {
        box-sizing: border-box;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
    }
  }
  
  @media (max-width: 1025px) { 
    .container {
        box-sizing: border-box;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }
  }
  
  @media (max-width: 330px) { 
    .header__wrapper {
      display: block;
    }
    .header__main {
      display: block;
    }
    .header__navigation-list {
      display: block;
    }
  }

  /* Первая секция основного контента на странице */
  .top-block {
    height: 800px;
    background-image: url(../img/header_img.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 211px;
  }
  
  /* Заголовок первой секции */
  .top-block__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;;
    font-size: 72px;
    color: #25292D;
    text-align: left;
    width: 50%;
  }
  
  /* Описание под заголовком первой секции */
  .top-block__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #4A525A;
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: left;
    width: 50%;
    padding-top: 16px;
  }
  
  /* контейнер для того чтобы контролировать позицию кнопок относительно других элементов */
  .top-block__button-container {
    display: flex;
    gap: 24px;
  }
  
  /* тут свойства для кнопок в первой секции */
  .top-block__button {
    background-color: #FDB100;
    color: #fff;
    border: none; 
    border-radius: 16px; 
    min-height: 60px; 
    min-width: 278px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
  }

  /* Эффект наведения на кнопку */
  .top-block__button:hover {
    color: #fdb100;
    background-color: #ffffff;
    border: 1px solid #fdb100;
}
  
/* тут свойства для кнопки с модификатором */
  .top-block__button--other {
    background-color:transparent;
    color: #FDB100;
    border: 1px solid #FDB100; 
    border-radius: 16px; 
    min-height: 60px; 
    min-width: 216px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
  }

  /* Эффект наведения на кнопку с модификатором */
  .top-block__button--other:hover {
    color: #ffffff;
    background-color: #fdb100;
}
  
  @media (max-width: 330px) {
    .top-block__title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      color: #25292D;
      text-align: left;
      width: 50%;
    }
    .top-block__button {
      display: block;
    }
  }

  /* Вторая секция на странице */
  .sort {
    padding-top: 113px;
  }
  
  /* Заголовок второй секции */
  .sort__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #25292D;
  }
  
  /* Описание под заголовком секции */
  .sort__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #4A525A;
    padding-top: 16px;
    width: 700px;
  }
  
  /* Список с карточками второй секции */
  .sort__list {
    display: flex;
    padding-top: 42px;
    list-style: none;
    gap: 29px;
  }
  
  /* Карточки */
  .sort__item {
    max-width: 278px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    padding: 24px;
    padding-bottom: 32px;
  }
  
  /* Иконка  */
  .sort__item-img {
    padding-bottom: 24px;
  }
  
  /* Заголовок карточки */
  .sort__item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #25292D;
    padding-bottom: 16px;
  }
  
  /* Описание карточки */
  .sort__item-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #4A525A;
    max-width: 230px;
    line-height: 30px;
  }
  
  @media (max-width: 330px) {
    .sort__description {
      width: 300px;
    }
  
    .sort__list {
      display: block;
    }
  }
  
    /* Секция 3 */
    .recipe-of-day {
      display: flex;
      gap: 73px;
      padding-top: 157px;
    }

  /*  картинка в секции 3 */
  .recipe-of-day__author-img {
    position: relative;
    width: 100%;
  }
  
  /* тэг на картинке */
  .recipe-of-day__author-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FDB100;
    background-color: #FFFFFF;
    padding: 4px 16px;
    position: absolute;
    top: 435px;
    left: 0;
  }
  

  /* Контейнер для иконок сердечка и таймера */
  .recipe-of-day__container-img {
    display: flex;
    justify-content: space-between;
  
  }
  
  /* иконка таймера */
  .recipe-of-day__container-img-count {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
  }
  
  /* Заголовок в 3 секции */
  .recipe-of-day__container-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    color: #25292D;
    padding-top: 32px;
  }
  
  /* Описание в 3 секции */
  .recipe-of-day__container-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #4A525A;
    padding-top: 16px;
  }
  
  /* иконка сердечка */
  .recipe-of-day__container-fav {
    display: flex;
    align-items: center;
  }
  
  /* текст у иконки сердечка */
  .recipe-of-day__container-fav-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #25292D;
    padding-left: 9px;
  }
  
  /* контейнер для  иконки таймера и надписи */
  .recipe-of-day__container-times {
    display: flex;
    gap: 9px;
    align-items: center;
  }

  /* Сама иконка таймера */
  .recipe-of-day__container-times-img {
    width: 28px;
    height: 28px;
  }
  
  /* Текст у иконки таймера */
  .recipe-of-day__container-times-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #25292D;
    width: 78px;
  
  }
  
  @media (max-width: 1024px) { 
    .recipe-of-day {
      gap: 30px;
      padding-top: 157px;
    }
    .recipe-of-day__container-title {
      font-size: 30px;
      line-height: 40px;
      padding-top: 10px;
    }
    .recipe-of-day__author-link {
      top: 360px;
    }
    .recipe-of-day__container {
      max-width: 350px;
    }
  }
  
  @media (max-width: 330px) {
    .recipe-of-day {
      display: block;
    }
  
    .recipe-of-day__author-link {
      top: 260px;
    }
  
    .recipe-of-day__container {
      padding-top: 20px;
    }
  }

  /* Секция 4 */
  .search {
    padding-top: 150px;
  }
  
   /* Секция 4. Заголовок */
  .search__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    
    color: #25292D;
  }
  
   /* Секция 4. Описание */
  .search__description {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-top: 16px;
    text-align: center;
    font-feature-settings: 'case' on;
    color: #4A525A;
  }
  
   /* Секция 4. Контейнер для элементов секции */
  .search__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 64px;
  }
  
   /* Секция 4. Форма поиска */
  .search__container-input {
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 894px;
    margin: 0 auto;
  }
  
   /* Секция 4. Поле для ввода текста в форме */
  .search__input {
    height: 73px; 
    width: 716px;
    background: white;
    border: none;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:  #808080;
    padding-left: 32px;
  }
  
   /* Секция 4. Кнопка поиск */
  .search__button {
    background-color: #FDB100;
    color: #fff;
    border: none; 
    border-radius: 16px; 
    min-height: 73px; 
    min-width: 152px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
  
   /* Секция 4. Список элементов под строкой поиска */
  .search__list {
    display: flex;
    gap: 10px;
    padding-top: 24px;
    padding-bottom: 106px;
    width: 100%;
  }
  
   /* Секция 4. Ссылки на эти элементы */
  .search__list-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #808080;
  }
  
  @media (max-width: 1024px) { 
    .search__input {
      width: 500px;
    }
  }
  
  @media (max-width: 330px) {
    .search__input {
      width: 200px;
    }
    
    .search__button {
      min-width: 100px;
    }
  }

   /* Подвал сайта */
  .footer {
    background-color: #FBF9F4;
    padding: 40px 0;
  }
  
    /* Обёртка подвала или же контейнер */
  .footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
   /* Логотип подвала */
  .footer__logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FDB100;
  }
  
   /* копирайтинг */
  .footer__copyright {
    font-family: 'Montserrat500';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #4A525A;
  }
  