@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),;
    font-weight:700;
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-Medium.woff2") format("woff2"),;
    font-weight:500;
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),;
    font-weight:400;
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),;
    font-weight:600;
    font-style: normal;
    font-display:swap;
}
@font-face {
    font-family: "Mulish";
    src: url("../fonts/Mulish-Regular.woff2") format("woff2"),;
    font-weight:400;
    font-style: normal;
    font-display:swap;
}

body{
    position: relative;
    font-family: "Montserrat", sans-serif;
    min-width: 360px;
}

img{
    max-width: 100%;
}
.container {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 2719px;
    background-color: #FEFEFB;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;


}

.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    max-width: 200px;
    width: 100%;
    height: 35px;
    color: #FDB100;
    text-decoration: none;
    padding-right: 80px;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 565px;

}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
    width: 344px;
    height: 22px;
}

.header__navigation-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #9196A1;
    list-style-type: none;
    width: 100%;
}

.header__navigation-link {
    text-decoration: none;
    color: #9196A1;
    font-weight: 400;
}

.header__navigation-link--active {
    font-weight: 600;
    color: #3A3C41;
}

.header__login {
    display: flex;
    height: 38px;
    max-width: 112px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.header__login-button {
    max-width: 60px;
    width: 100%;
    height: 22px;
    cursor: pointer;
    z-index: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FDB100;
    border: none;
    background-color: #FEFEFB;
    outline: none
}

.top-block {
    max-width: 1440px;
    height: 800px;
    padding-top: 0px;
    padding-left: 120px;

}

.top-block-container__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    line-height: 87.77px;
    font-weight: 700;
    color: #25292D;
    text-align: left;

}

.top-block-container__description {
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #4A525A;
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: left;


}

.top-block-container__buttons {
    max-width: 500px;
    display: block;
}

.top-block-container__button {
    font-family: 'Montserrat', sans-serif;
    border-radius: 16px;
    height: 60px;
    width: 50%;
    background-color: #FDB100;
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

}

.top-block-container__button--login {
    max-width: 216px;
    float: right;
    background-color: transparent;
    border: 1px solid #FDB100;
    color: #FDB100;
}

.top-block__image {
    display: block;
    float: right;
    width: 50%;
    margin-top: -75px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 200px;

}

.top-block-container {
    display: block;
    float: left;
    width: 50%;
    margin-top: 144px;
}